body {
  background-color: #E4F9F5;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #54BAB9;
  font-size: 6.0rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  text-align: center;
}

h2 {
  color: #396EB0;
  font-family:'Merriweather', serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 40px; auto; 20px; auto;
}

h3 {
  color: #0A043C;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.root, h4 {
  color: #0e342d;
  background-color: #E4F9F5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  margin: auto;  
}

.contact-text {
  color: #0A043C;
  background-color: #E4F9F5;
  font-family:'Merriweather', serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 40px; auto; 20px; auto;
}

p {
  line-height: 2;
  font-weight: bold;
}

.quote {
  font-family:'Merriweather', serif;
  text-decoration: italic;
  color: #254646;
  font-size: .9rem;
  font-weight: bold;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 20%;
  margin: 21px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 10px;
}

.middle-container {
    background-color: #E4F9F5;
    padding-top: 5px;
}

.bottom-container {
  background-color: #E4F9F5;
  padding: 50px 20px 50px 20px;
}

.skills-row {
  width: 50%;
  margin: 20px auto 20px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.profile-img {
  width: 8%;
  float: left;
  margin-left: 370px;
}

.intro {
  width: 40%;
  margin: 20px auto 30px;
}

.contact-message {
color: #0A043C;
  width: 40%;
  margin: 20px auto 200px;
  font-weight: Bold;
  margin-bottom: 100;  
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;
}

.top-cloud {
  position: absolute;
  right: 110px;
  top: 55px;
}

.tiny-cloud {
  position: absolute;
  right: 490px;
  bottom: 140px;
}

.middle-cloud {
  position: absolute;
  right: 800px;
  bottom: 200px;
}

.left-cloud {
  position: absolute;
  left: 100px;
  top: 10px;
}

.disc-golf {
  float: right;
  margin-right: 450px;
}

.biker {
  float: right;
  margin-right: 500px;
}

.e-img {
margin: 10%;
  float: left;
  margin-left: 450px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 8px 12px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
